
.App {
  background-color: rgb(255, 255, 255);
  display : flex ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  
}
.shadowAndBorder{
  border: 1px solid;
  border-color: rgb(212, 212, 218);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.infoimg1{
  margin-left: -400px;
}
.infoimg2{
  margin-left: -350px;
}
